header {
  color: #e4f8fc;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  text-align: center;
}

header img {
  display: block;
  margin: auto;
  width: 400px;
}

header h1 {
  font-size: 80px;
}

header .filterText {
  border: 2px solid #023047;
  font-size: 24px;
  height: 30px;
  padding-left: 10px;
  width: 300px;
}

header .filtros {
  display: flex;
  justify-content: space-around;
  margin: 30px 0;
}

header .filtros input, select {
  background-color: #e4f8fc;
  border-radius: 8px;
  font-size: 18px;
  margin-left: 10px;
  padding: 5px;
}

#filterNumber {
  width: 70px;
}

header .btnFilter {
  background-color: #fb8500;
  border-radius: 8px;
  color: white;
  font-size: 18px;
  font-weight: 600;
  transition: 0.3s;
}

header .btnFilter:hover {
  background-color: #ffb703;
  color: black;
}

header .selectFilter {
  align-items: flex-start;
  background-color: #8ecae640;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

header .selectFilter p {
  align-items: center;
  color: white;
  display: flex;
}

header .selectFilter button {
  background-color: red;
  border-radius: 25px;
  color: white;
  font-size: 14px;
  font-weight: 600;
  margin-left: 10px;
}
