body {
  background-image: url('https://compass-ssl.xbox.com/assets/8f/d7/8fd7e3c9-269b-4b7e-8ec5-6cc52533137b.jpg?n=SWBF2_gallery-0_1350x759_01.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: sans-serif;  
}
